body {
  background: #f3f3f3;
}

button[disabled] {
  cursor: not-allowed;
}

.border-right {
  border-right: 1px solid #333333;
}

.primary-color {
  color: #333333!important;
}

.menu-btn {
  color: rgba(0,0,0,0.6);

  &:hover {
    color: #333333;
  }
}
