body {
  background: #f3f3f3;
}

button[disabled] {
  cursor: not-allowed;
}

.w-24 {
  width: 24px;
}

.h-24 {
  height: 24px;
}

.vt-grid {
  display: grid;
}

.vt-grid-rows-none {
  grid-template-rows: none;
}

.vt-grid-cols-none {
  grid-template-columns: none;
}

@for $i from 1 to 6 {
  .vt-grid-rows-#{$i} {
    grid-template-rows: repeat(#{$i}, minmax(0, 1fr));
  }

  @media (min-width: 640px) {
    .vt-sm-grid-rows-#{$i} {
      grid-template-rows: repeat(#{$i}, minmax(0, 1fr))!important;
    }
  }

  @media (min-width: 768px) {
    .vt-md-grid-rows-#{$i} {
      grid-template-rows: repeat(#{$i}, minmax(0, 1fr))!important;
    }
  }

  @media (min-width: 1024px) {
    .vt-lg-grid-rows-#{$i} {
      grid-template-rows: repeat(#{$i}, minmax(0, 1fr))!important;
    }
  }
}

@for $i from 1 to 12 {
  .vt-grid-cols-#{$i} {
    grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
  }

  @media (min-width: 640px) {
    .vt-sm-grid-cols-#{$i} {
      grid-template-columns: repeat(#{$i}, minmax(0, 1fr))!important;
    }
  }

  @media (min-width: 768px) {
    .vt-md-grid-cols-#{$i} {
      grid-template-columns: repeat(#{$i}, minmax(0, 1fr))!important;
    }
  }

  @media (min-width: 1024px) {
    .vt-lg-grid-cols-#{$i} {
      grid-template-columns: repeat(#{$i}, minmax(0, 1fr))!important;
    }
  }
}
